[submodule "src/assets/pigeon/chart"]
	path = src/assets/pigeon/chart
	url = https://github.com/html5syt/Phigros_Resource.git
	branch = chart
	shallow = true
	ignore = all
[submodule "src/assets/pigeon/avatar"]
	path = src/assets/pigeon/avatar
	url = https://github.com/html5syt/Phigros_Resource.git
	branch = avatar
	shallow = true
	ignore = all
[submodule "src/assets/pigeon/illustrationBlur"]
	path = src/assets/pigeon/illustrationBlur
	url = https://github.com/html5syt/Phigros_Resource.git
	branch = illustrationBlur
	shallow = true
	ignore = all
[submodule "src/assets/pigeon/illustrationLowRes"]
	path = src/assets/pigeon/illustrationLowRes
	url = https://github.com/html5syt/Phigros_Resource.git
	branch = illustrationLowRes
	shallow = true
	ignore = all
[submodule "src/assets/pigeon/music"]
	path = src/assets/pigeon/music
	url = https://github.com/html5syt/Phigros_Resource.git
	branch = music
	shallow = true
	ignore = all
[submodule "src/assets/pigeon/info"]
	path = src/assets/pigeon/info
	url = https://github.com/html5syt/Phigros_Resource.git
	branch = info
	shallow = true
	ignore = all
[submodule "src/assets/pigeon/illustration"]
	path = src/assets/pigeon/illustration
	url = https://github.com/html5syt/Phigros_Resource.git
	branch = illustration
	shallow = true
	ignore = all